@import "tailwindcss";

:root {
  /* Ini warna default (Light Mode) */
  --background: #ffffff;
  --foreground: #171717; /* Ini warna hitam */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* HAPUS BAGIAN @media (prefers-color-scheme: dark) ...
   BIAR TEKS TIDAK BERUBAH JADI PUTIH SENDIRI 
*/

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 20s linear infinite;
}